@import "variables";
@import "breakpoints";

.img-list {
  height: 350px;
  img {
    width: auto;
    max-width: 100%;
    max-height: 350px;
  }
}

@include media-breakpoint-down(sm) {
  .img-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
