<div class="row">
    <h1 class="col-12 col-sm-4"><span class="thick-border-bottom">Résumé</span></h1>
    <div class="col-12 col-sm-8 resume-buttons">
        <a href="https://www.linkedin.com/in/robert-hosler-885074106/" target="_blank" class="btn btn-outline-primary mr-2">Linkedin</a>
        <a href="https://github.com/RobertHosler" target="_blank" class="btn btn-outline-primary mr-2">Github</a>
        <button class="btn btn-outline-secondary">Print<i-bs
            name="printer-fill"
            class="ml-1"
        ></i-bs></button>
    </div>
</div>
<h2>Robert Hosler</h2>
<div class="intro">
    <p>Web developer with 8+ years of experience working with enterprise Java web applications, Android, and Angular.  Proven ability to work
    independently and on a team to design and implement solutions within an Agile Framework.</p>
    
    <p>Prides himself on creating maintainable solutions in an ever
    changing environment. Passionate about and experienced in responsive design with an active desire to explore the latest in frontend web
    technologies.  Strongly believes that the user's web experience starts and ends with the functionality in their browser, so it must
    be made as smooth and painless as possible.</p>
    
    <p>Bachelors degrees in Computer Science and Studio Art from Lebanon Valley College.</p>
</div>
<hr/>

<div class="row resume-row">
    <div class="col-12 col-lg-7 col-xl-8 experience-col">
        <h2>Experience</h2>
        <div class="resume-box">
        <h3>Highmark Inc</h3>
        <div>
            <div class="row">
                <h4 class="col-sm-6">Application Developer</h4>
                <span class="col-sm-6 align-right margin-me date-range">June 2015 - Present</span>
            </div>
            <ul>
                <li>Responsible for the design and development of features in member facing applications</li>
                <li>Backend development consuming REST and SOAP APIs as well as IBM's mainframe technologies</li>
                <li>Developed new native Android application with fingerprint authentication and REST service integration</li>
                <li>Created new components for a website using Adobe Experience Manager and Angular</li>
                <li>Worked with external partners to provide single sign on access and customized branding solutions</li>
                <li>Worked with external partners to provide single sign on access and customized branding solutions</li>
                <li>Mentored junior developers on best practices, technologies, and design principles</li>
            </ul>
        </div>
        <div>
            <div class="row">
                <h4 class="col-sm-6">Associate Application Developer</h4>
                <span class="col-sm-6 align-right margin-me date-range">June 2013 - June 2015</span>
            </div>
            <ul>
                <li>Developed web pages using Struts and JSP</li>
                <li>Updated enterprise Java applications using JSF, CDI, and Bootstrap</li>
                <li>Worked with responsive</li>
                <li>Created Junits for preexisting code to increase application coverage</li>
                <li>Implemented new web analytics solution using IBM Digital Analytics</li>
                <li>Rehauled approval process workflow for TeamSite content management solution</li>
            </ul>
        </div>
        <div>
            <h3>Lebanon Valley College</h3>
            <div class="row">
                <h4 class="col-sm-6">Intern Android Developer</h4>
                <span class="col-sm-6 align-right margin-me date-range">Summer 2011 & 2012</span>
            </div>
            <ul>
                <li>Full-time programming position over 8 weeks each Summer</li>
                <li>Developed an LVC Android application providing a virtual tour of the campus and events info</li>
                <li>Learned the Android Framework and how to design and develop a complex application as part of a team</li>
                <li>Built Android application using Java and XML in collaboration with fellow students and professor</li>
            </ul>
        </div></div>
    </div>
    <div class="col-12 col-lg-5 col-xl-4">
        <div class="skills-col">
            <hr class="d-block d-md-none"/>
            
        <h2>Skills</h2>
        <p><strong>Web:</strong> AJAX, Angular, AngularJS, Bootstrap, CSS, HTML, JavaServer Faces, JQuery, JSP, PHP, React, Sass, Struts</p>
        <p><strong>Servers:</strong> Apache, node.js, Websphere</p>
        <p><strong>Analytics:</strong> Coremetrics/IBM Digital Analytics</p>
        <p><strong>Languages:</strong> HTML, Java, JavaScript, PHP</p>
        <p><strong>Content Management:</strong> Adobe Experience Manager, TeamSite, Wordpress</p>
        <p><strong>Mobile:</strong> Android SDK</p>
        <p><strong>Unit testing:</strong> EasyMock, Junit, Mockito, PowerMock</p>
        <p><strong>IDE:</strong> Android Studio, C9, Eclipse, IDEA, Postman, TOAD, Visual Studio Code</p>
        <p><strong>Build:</strong> Ant, Gradle, UrbanCode</p>
        <p><strong>Databases:</strong> DB2, Oracle</p>
        <p><strong>Design:</strong> Adobe Photoshop</p>
        <p><strong>Source Control:</strong> CA SCM, git</p>
    </div>
    </div>
</div>

<hr/>

<div class="row resume-row">
    <div class="col-12 col-md-6 education-col">
        <h2>Education</h2>
        <div class="date-row">
            <h3 >Lebanon Valley College</h3>
            <span class="align-right date-range">Class of 2013</span>
        </div>
        <ul>
            <li>Class of 2013</li>
            <li>Bachelor's Degree in Computer Science and Studio Art</li>
            <li>Awarded Vickroy Scholarship and Dean's List recognition</li>
            <li>Participated in programming competitions representing LVC</li>
            <li>Member of Math and Art Clubs</li>
            <li>Founder of Magic the Gathering Club</li>
        </ul>
        <h3>Central Dauphin High School</h3>
        <ul>
            <li>Class of 2009</li>
            <li>Member of Central Dauphin Singers</li>
        </ul>
    </div>

    <div class="col-12 col-md-6 other-col">
        <hr class="d-block d-md-none"/>
        <h2>Certifications</h2>
        <ul>
            <li>Scrum.org Developer certification completed in 2019</li>
            <li>Microsoft Excel certification completed in 2009</li>
        </ul>
        <h3>Employment History</h3>
            <div>
                <ul>
                    <li>Lebanon Valley College - September 2009 through 
                    <li>GameStop Incorporated - Game Advisor, August 2008 through January 2010</li>
                    <li>Weis Markets - Cashier, August 2008 through January 2010</li>
                    <li>Party City - Seasonal, Mask Counter, September 2006 through November 2006</li>
                </ul>
            </div>
    </div>

</div>