<div [ngClass]="{ colored: colored }">
  <div class="resume-top">
    <div class="container py-3">
      <div class="row">
        <div class="col-md-3">
          <div class="resume-img-wrapper">
            <img
              class="resume-img"
              (mouseover)="hoverImg = true"
              (mouseleave)="hoverImg = false"
              [src]="
                !hoverImg
                  ? '/assets/images/developer/resume-roqb.jfif'
                  : '/assets/images/developer/dev-resume2.jpg'
              "
            />
          </div>
        </div>
        <div class="col-md-9 intro">
          <h1 class="text-center">Robert Hosler</h1>
          <p>
            Web developer with 8+ years of experience working with Java web
            applications, Android, and Angular as part of an Agile Team.
          </p>
          <p>
            Creates responsive and engaging web experiences for all screen
            sizes. Proven ability to quickly learn and apply new technologies.
            Writes maintainable solutions for an ever changing environment.
            Positive contributor and effective communicator.
          </p>
        </div>
      </div>
      <div class="">
        <ul class="resume-contact">
          <li>
            Pittsburgh, PA
          </li>
          <li>
            <a href="mailto:rph731@gmail.com">rph731@gmail.com</a>
          </li>
          <li>
            <a href="http://roqb.me">roqb.me</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/roberthosler" target="_blank"
              >linkedin.com/in/roberthosler</a
            >
          </li>
          <li>
            <a href="https://github.com/RobertHosler" target="_blank"
              >github.com/roberthosler</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <hr *ngIf="!colored" />
    <div class="row resume-row">
      <div class="col-12 col-lg-7 col-xl-8 experience-col">
        <!-- <h2>Experience</h2> -->
        <ng-component *ngTemplateOutlet="proExperience"></ng-component>
        <!-- <h2>Education</h2> -->
        <ng-component *ngTemplateOutlet="educationSection"></ng-component>
      </div>
      <div class="col-12 col-lg-5 col-xl-4">
        <ng-component
          *ngTemplateOutlet="showSkillBars ? skillBars : skillExpanded"
        ></ng-component>
        <div class="skills-col mt-4">
          <ng-component *ngTemplateOutlet="certications"></ng-component>
        </div>
        <div class="skills-col mt-4">
          <ng-component *ngTemplateOutlet="hobbySection"></ng-component>
        </div>
      </div>
    </div>

    <div class="row resume-row d-none">
      <div class="col-12 col-md-6 education-col"></div>

      <div class="col-12 col-md-6 other-col"></div>
    </div>

    <div class="resume-buttons d-print-none">
      <a
        href="https://www.linkedin.com/in/robert-hosler-885074106/"
        target="_blank"
        class="btn btn-outline-primary mr-2"
        >Linkedin</a
      >
      <a
        href="https://github.com/RobertHosler"
        target="_blank"
        class="btn btn-outline-primary mr-2"
        >Github</a
      >
      <button class="btn btn-outline-secondary" onclick="window.print()">
        Print<i-bs name="printer-fill" class="ml-1"></i-bs>
      </button>
    </div>
  </div>
</div>

<!-- <ng-container *ngTemplateOutlet="certications"></ng-container> -->

<ng-template #skillBars>
  <div class="skill-bar-section skills-col">
    <h3>Prowess</h3>
    <div class="skill-bars d-print-none" *ngFor="let skill of skills">
      <div class="bar-label">{{ skill.name }}</div>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [ngStyle]="{ width: skill.level * 5 + '%' }"
          [attr.aria-valuenow]="skill.level * 5"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="skill-bars-print d-none d-print-block">
      <ul>
        <li *ngFor="let skill of skills">
          {{ skill.name }} - {{ skillDescription(skill.level) }}
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #skillExpanded>
  <div>
    <div class="skills-col">
      <hr class="d-block d-md-none" />
      <h2>Skills</h2>
      <ul>
        <li>Java, JavaScript, TypeScript</li>
        <li>
          Frameworks: Android SDK, Angular, JavaServer Faces (JSF), SpringBoot
        </li>
        <li>Libraries: Bootstrap, Jasmine, JQuery, Junit, Mockito, Sass</li>
        <li>CMS - Adobe Experience Manager (AEM), OpenText TeamSite</li>
      </ul>
    </div>
    <br />
    <div class="skills-col">
      <hr class="d-block d-md-none" />

      <h3>Some Experience</h3>
      <p>Jakarta Server Pages (JSP)</p>
      <p>
        <strong>Web:</strong> AJAX, Angular, AngularJS, Bootstrap, CSS, HTML,
        JavaServer Faces, JQuery, JSP, PHP, React, Sass, Struts
      </p>
      <p><strong>Servers:</strong> Apache, node.js, Websphere</p>
      <p><strong>Analytics:</strong> Coremetrics/IBM Digital Analytics</p>
      <p><strong>Languages:</strong> HTML, Java, JavaScript, PHP</p>
      <p>
        <strong>Content Management:</strong> Adobe Experience Manager, TeamSite,
        Wordpress
      </p>
      <p><strong>Mobile:</strong> Android SDK</p>
      <p><strong>Unit testing:</strong> EasyMock, Junit, Mockito, PowerMock</p>
      <p>
        <strong>IDE:</strong> Android Studio, C9, Eclipse, IDEA, Postman, TOAD,
        Visual Studio Code
      </p>
      <p><strong>Build:</strong> Ant, Gradle, UrbanCode</p>
      <p><strong>Databases:</strong> DB2, Oracle</p>
      <p><strong>Design:</strong> Adobe Photoshop</p>
      <p><strong>Source Control:</strong> CA SCM, git</p>
    </div>
  </div>
</ng-template>

<ng-template #educationSection>
  <div class="education">
    <div *ngFor="let e of education">
      <div class="date-row">
        <h3>{{ e.school }}</h3>
        <span class="align-right date-range">{{ e.start }} {{ e.end ? " - " + e.end : "" }}</span>
      </div>
      <ul>
        <li *ngFor="let bullet of e.bullets">
          {{ bullet }}
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #certications>
  <div>
    <h3>Augmentation</h3>
    <ul class="cert-bullets">
      <li *ngFor="let cert of certifications">
        {{ cert.name }} <span class="date-cert">{{ cert.year }}</span>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #hobbySection>
  <div>
    <h3>Recreation</h3>
    <ul class="cert-bullets">
      <li *ngFor="let hobby of hobbies">
        {{ hobby }}
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #history>
  <div>
    <h3>Employment History</h3>
    <div>
      <ul>
        <li *ngFor="let employment of employmentHistory">
          {{ employment.employer }} - {{ employment.role }},
          {{ employment.start }}
          {{ employment.end ? " - " + employment.end : "" }}
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #proExperience>
  <div class="resume-box">
    <div *ngFor="let e of experience">
      <h3>{{ e.employer }}</h3>
      <div *ngFor="let role of e.roles">
        <div class="row">
          <h4 class="col-sm-6">{{ role.name }}</h4>
          <span class="col-sm-6 align-right margin-me date-range"
            >{{ role.start }} {{ role.end ? " - " + role.end : "" }}</span
          >
        </div>
        <ul>
          <li *ngFor="let bullet of role.bullets">
            {{ bullet }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>
