<div class="header">
  <nav class="navbar navbar-app navbar-expand-md fixed-top border-bottom-light"
    [ngClass]="{'bg-green': green, 'bg-purple': !green}">
    <div class="container">
      <a class="navbar-brand home-link" routerLink="home"><span class="sr-only">Home</span></a>
      <button
        class="navbar-toggler"
        [ngClass]="{ collapsed: collapsed }"
        type="button"
        (click)="collapsed = !collapsed"
        aria-controls="navbarCollapseContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngClass]="{ show: !collapsed }">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngFor="let link of links">
            <a class="nav-link link-underline" [routerLink]="link.location" *ngIf="!link.ext" (click)="collapsed = true">
              {{ link.title }}
            </a>
            <a class="nav-link link-underline" href="{{ link.location }}" *ngIf="link.ext">
              {{ link.title }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>