<app-vp-section heading="Personality Content" [links]="personalityLinks">
  <p>
    I've been interested in personality theory for a long time now. As for many
    of us in the community, it started by taking a quiz over on
    16personalities.com which launched me down the rabbit hole. For years I
    perused reddit, websites, and YouTube soaking up as much info as I could.
  </p>
  <p>
    Recently, I've taken to trying my hand at sharing and communicating what I'm
    learning with others and trying to contribute to the community in the ways
    that I can. I am doing so on a blog at SubjectivePersonality.com as well as
    on my YouTube channel, Roqb in Reality.
  </p>
  <p>
    I also created an app in association with my Subjective Personality blog
    which you can use to generate information about a specific personality type,
    look up individuals and their types, or practice typing.
  </p>
</app-vp-section>

<app-vp-section
  heading="An Accidental Artist"
  [links]="artLinks"
  [even]="false"
>
  <p>
    My relationship with art began almost by accident. In high school I wanted
    to take a computer design course, but it ended up being filled with other
    students who received priority. Rather than take a study hall I decided to
    try a drawing and painting course.
  </p>
  <p>
    This course ended up challenging us each week to create a unique sketch
    based on a theme each week. This is something that really captured my
    imagination and something I really miss about my high school art classes.
    When I went to college I wanted to keep taking art classes and asked if a
    double major was even possible since there would be no overlapping
    coursework. I made it happen. Here I'll present some of my favorite
    creations.
  </p>
</app-vp-section>
