<app-vp-section heading="State of Individuality" [links]="soiLinks">
  <div class="w-85 ml-auto text-right">
    <p>
      One of my favorite works from college was a video I made using Photoshop
      and a song by the band STRFKR featuring a portion of a lecture by Alan
      Watts. The work was orginally inspired by the following quote from William
      James.
    </p>
  </div>

  <figure class="w-75 ml-auto">
    <blockquote>
      <p>
        "Time keeps budding into new moments, every one of which presents a
        content which in its individuality never was before and will never be
        again."
      </p>
    </blockquote>
    <figcaption>
      —William James, <cite>Some Problems of Philosophy</cite>
    </figcaption>
  </figure>

  <iframe
    *ngIf="false"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/EWJpFQZN6l8"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</app-vp-section>

<div *ngIf="false">
  <h3>College Album</h3>

  <p>
    A collection of some other photos of art works I created while I was in
    college. Ranging from painting to printmaking, some highlights from my 4
    years at LVC.
  </p>
  <p>
    <a
      class="btn btn-primary"
      href="https://imgur.com/a/MsKtf8D"
      target="_blank"
      >Go to Album</a
    >
  </p>

  <h2 *ngIf="false">High School Works</h2>
</div>

<app-vp-section
  [even]="false"
  heading="MTG Alters and Proxies"
  [links]="mtgLinks"
>
  <p>
    Magic the Gathering is a card game I've been playing for many years.
    Sometimes people paint on the cards to alter them in some way, either
    creating new art or extending the existing art.
  </p>
  <p>
    I've dabbled in this in the past and created "proxy cards" which can stand
    in for a real card without actually having the card to play the game. This
    can be useful for particularly expensive cards as a single card can
    sometimes cost over a hundred dollars, but is also just a fun way to explore
    different kinds of art within the game.
  </p>
</app-vp-section>
