<h1>I am an Artist</h1>

<p>
  My relationship with art began almost by accident. In high school I wanted to
  take a computer design course, but it ended up being filled with other
  students who received priority. Rather than take a study hall I decided to try
  a drawing and painting course. This course ended up challenging us each week
  to create a unique sketch based on a theme each week. This is something that
  really captured my imagination and something I really miss about my high
  school art classes. When I went to college I wanted to keep taking art classes
  and asked if a double major was even possible since there would be no
  overlapping coursework. I made it happen. Here I'll present some of my
  favorite creations.
</p>

<h2>College Works</h2>
<h3>State of Individuality</h3>
<p>
  One of my favorite works from college was a video I made using Photoshop and a
  song by the band STRFKR featuring a portion of a lecture by Alan Watts. The
  work was orginally inspired by the following quote from William James.
</p>

<figure>
  <blockquote>
    <p>
      "Time keeps budding into new moments, every one of which presents a
      content which in its individuality never was before and will never be
      again."
    </p>
  </blockquote>
  <figcaption>
    —William James, <cite>Some Problems of Philosophy</cite>
  </figcaption>
</figure>
<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/EWJpFQZN6l8"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe>
<p>
  <a
    class="btn btn-primary"
    href="https://www.youtube.com/watch?v=EWJpFQZN6l8"
    target="_blank"
    >View on YouTube</a
  >
</p>
<p>
  This work would go on to inspire my Senior Art Project, which I have more
  mixed feelings about but took on a similar approach.
</p>
<hr />

<h3>College Album</h3>

<p>
  A collection of some other photos of art works I created while I was in
  college. Ranging from painting to printmaking, some highlights from my 4 years
  at LVC.
</p>

<p>
  <a class="btn btn-primary" href="https://imgur.com/a/MsKtf8D" target="_blank"
    >Go to Album</a
  >
</p>

<h2 *ngIf="false">High School Works</h2>

<h2>MTG Alters and Proxies</h2>
<p>
  Magic the Gathering is a card game I've been playing for many years. Sometimes
  people paint on the cards to alter them in some way. Either creating new art
  or extending the existing art in some way. I've dabbled in this in the past
  and even created proxy cards which are meant to represent a real card without
  actually having the card.
</p>

<p>
  <a class="btn btn-primary" href="https://imgur.com/a/fdj4O" target="_blank"
    >Go to Album</a
  >
</p>
