<div class="viewport-section d-flex flex-column radial-purple">
  <div class="container flex-around flex-grow-1 py-3">
    <h1>Creator</h1>

    <div class="w-75 ml-auto">
      <p>
        Throughout my life I've occasionally dabbled in the art of writing.
        Below are some of the projects I've worked on.
      </p>
    </div>
  </div>
</div>
<app-vp-section [even]="false" heading="Subjective Personality" topImgPath="/assets/images/sp-logo.png">
  <p>
    The Objective Personality System is a personality system building on the
    works of Carl Jung and the MBTI. This system is highly complex and contains
    512 unique personality types. The Subjective Personality site was originally
    created as a site where I could begin to break down and explain some of the
    concepts from this system in written form. The creators of the system
    largely communicate their ideas through video and I felt the lack of written
    material on the system needed to be addresseed.
  </p>
  <p>
    Some key links to the site are listed below. I hope you'll check it out.
  </p>
</app-vp-section>

<div class="radial-green">
  <div class="container viewport-section flex-around py-3">
    <h2 class="text-right">Subjective Personality</h2>

    <div class="w-75 mx-auto text-justify">
      <p>
        The Objective Personality System is a personality system building on the
        works of Carl Jung and the MBTI. This system is highly complex and
        contains 512 unique personality types. The Subjective Personality site
        was originally created as a site where I could begin to break down and
        explain some of the concepts from this system in written form. The
        creators of the system largely communicate their ideas through video and
        I felt the lack of written material on the system needed to be
        addresseed.
      </p>
    </div>

    <div>
      <p>
        Some key links to the site are listed below. I hope you'll check it out.
      </p>
      <p>
      </p>
    </div>

    <div *ngIf="false">
      <p>
        I share other thoughts related to typology via my Facebook and Twitter
        accounts for this blog. You can follow them at the links below or join
        the discord to discuss typology with me.
      </p>
      <p>
        <a
          class="btn btn-outline-primary"
          href="https://www.facebook.com/SubjectivePersonality"
          target="_blank"
          >Like on Facebook</a
        >
        <a
          class="btn btn-outline-secondary ml-2"
          href="https://twitter.com/SubjectivePBlog"
          target="_blank"
          >Follow on Twitter</a
        >
        <a
          class="btn btn-outline-secondary ml-2"
          href="https://discord.com/invite/rHbXJ4e9s6"
          target="_blank"
          >Join our Discord</a
        >
      </p>
    </div>
  </div>
</div>

<div class="radial-purple">
  <div class="container viewport-section flex-around py-3">
    <h2>Tumblr</h2>

    <div class="w-75 mx-auto text-justify">
      <p>
        I created a tumblr blog for sharing some thoughts and other writing.
        There isn't much content on it at the moment (as of July 2021), but I'll
        still put it here in case I expand on it in the future.
      </p>
    </div>

    <div class="btn-row text-right">
      <a class="btn btn-primary" href="http://blog.roqb.me/" target="_blank"
        >Go to Tumblr</a
      >
    </div>
  </div>
</div>
