
.ops-img {
    width: 100%;
    height: 300px; 
    background-size: cover;
    background-position: center left;
    background-image: url("/assets/images/developer/ops-dashboard.PNG");
    margin-bottom: 1rem;
    &:hover {
        background-image: url("/assets/images/developer/ops-visual.PNG");
    }
}