<app-vp-section
  [even]="true"
  heading="Professional Experience"
  topImgPath="/assets/images/developer/laptop3.gif"
  bottomImgPath="/assets/images/developer/java.gif"
  [links]="proLinks"
>
  <p *ngIf="false">
    I'm a web developer with 8+ years of experience working for Highmark Inc.
    supporting apps for our subsidiary United Concordia Dental's members. The
    user's web experience starts and ends with the functionality in their
    browser, and I want to makе that as smooth and painless as possible.
  </p>
  <p>Hey, I'm Roqb.</p>
  <p>
    I am a web developer who is passionate about responsive design and creating
    engaging user experiences.
  </p>
</app-vp-section>

<app-vp-section
  [even]="false"
  heading="Personal Projects"
  topImgPath="/assets/images/developer/java.gif"
  bottomImgPath="/assets/images/developer/laptop3.gif"
  [links]="personalLinks"
>
  <p>
    In my free time I've worked on some personal app projects related to my
    interests. You can learn more about the more notable examples here and check
    them out on my Github.
  </p>
</app-vp-section>