<app-vp-section
  id="rob-q"
  [even]="true"
  heading="Rob with a Q?"
  bottomImgPath="/assets/images/roqb-rotate.gif"
>
  <p>
    You may have noticed by now that you are on <em>Roqb.me</em> and not
    <em>RobertHosler.me</em>. You may be wondering why the 'q' is in my name, or
    maybe how to pronounce it. rock-bee? rah-q-bee? row-cube-e?
  </p>
  <p>
    Well the pronunciation is easy... I don't even pronounce the 'q' at all. It
    is just Rob. Or at least that is what <em>I say</em>. Others have chosen to
    pronounce it in all kinds of ways.
  </p>
  <p>As for the WHY, well that is a bit of a longer story...</p>
</app-vp-section>

<app-vp-section
  id="three-letters"
  [even]="false"
  heading="Only 3 letters?"
  bottomImgPath="/assets/images/roqb-rotate.gif"
>
  <p>
    In one of my 8th grade classes, we were asked to make nametags to place at
    our seats. Writing Rob on my nametag seemed so... boring. Only 3 letters?
    Others got 5, maybe 8 or 9! Just 3 letters seemed so plain on the large
    nametag we had received. It felt too short and uninteresting to have just a
    3 letter name.
  </p>
  <p>
    I didn't want to go back to Robby as I went by when I was little. I was in
    the 8th grade after all. I was practically a man! The days of Robby were
    behind me, it was time to grow up and become something new! Puberty is a
    weird time.
  </p>
  <p>
    I could consider Robert of course, but then that isn't a nickname! Robert is
    my formal legal name, but it is just that... a very 'formal' sounding name.
    I still spell Robert normally when I use it for official documents, but when
    signing birthday cards and things like that I will almost always sign as
    Roqb.
  </p>
</app-vp-section>

<app-vp-section
  id="why-q"
  [even]="true"
  heading="But why a Q?"
  bottomImgPath="/assets/images/roqb-rotate.gif"
>
  <p>
    So naturally, I tried adding a 'q' to my name as a random letter that
    wouldn't make much sense to pronounce. I was after pure aesthetics here and
    didn't want people thinking it should be pronounced. After all, 'q' rarely
    occurs in english without a u, so what does a 'q' in Roqb even mean?
  </p>
  <p>
    Admittedly, this did not turn out to be a particularly effective strategy.
    As I mentioned earlier, many often try to pronounce the 'q' anyway.
  </p>
  <p>
    I had full intention of trying other letters or locations in my name to see
    if those fit better. I know I considered 'x' as another possible letter. But
    in the end, 'q' after the o was the first one I tried, and it stuck. I liked
    it. I even noticed that the 'q' when written with a straight down pipe
    instead of a hook it actually resembled a rotated 'b'. That seemed quite
    fitting. It is almost like I just have two bs in my name, like Robb, but...
    <em>twisted</em>.
  </p>
</app-vp-section>

<app-vp-section id="still-q" heading="" [even]="false">
  <p>
    Over the years people have of course questioned the 'q' in my name. One of
    my English teachers in High School questioned whether I had somehow typoed
    my own name on my summer assignment. I had to explain, "No, this is just the
    way I choose to spell it."
  </p>
  <p>
    When I first met my wife online she thought my name was in some way a joke.
    When I told her it wasn't she was confused and thought she might have
    offended me. Of course I'd never be offended by someone being confused by my
    name. I'm quite aware it is strange and confusing.
  </p>
  <p>
    I always thought I'd leave it behind at some point, and in some small ways I
    have. I rarely spell my name like this at work or when I want to avoid
    confusion and questions about it, but I have to actively think to not spell
    my name this way. It has become second nature after spelling it this way for
    so many years.
  </p>
  <p>
    Most of us don't really get to choose a name for ourselves and I'm not sure
    I'd recommend simply adding a 'q' to your name, but it has become a part of
    who I am and what makes me, me. I think its here to stay.
  </p>
</app-vp-section>

<app-vp-section [even]="true">
  <img class="final-rotate" src="/assets/images/roqb-rotate.gif" />
</app-vp-section>
