/* You can add global styles to this file, and also import other style files */

html {
  font-size: 13px;
}

@include media-breakpoint-up("sm", $grid-breakpoints) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up("md", $grid-breakpoints) {
  html {
    font-size: 20px;
  }
}

hr {
  border-top: 2px solid #ccc;
}

.bg-dark {
  color: $light;
}
.bg-dark a {
  color: $link-color;
}
.bg-dark a:hover {
  color: $link-hover-color;
}

.bg-blaze {
  background: $green-blaze;
}
.bg-gray {
  background: $dim-gray;
}
.bg-green {
  color: $light;
  background-color: $youtube-green;
}
.bg-purple {
  color: $light;
  background-color: $youtube-purple;
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  // background: gradient('green-blaze', top);
}

h1 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

.branding {
  color: $cad-orange;
  font-family: monospace;
  @include gradient-border-left("secondary");
  @include gradient-border-right("secondary");
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.left-gradient-primary {
  padding-left: 0.5rem;
  margin-left: -0.75rem;
  @include gradient-border-left("primary");
}

.left-gradient-secondary {
  padding-left: 0.5rem;
  @include gradient-border-left("secondary");
}

.thick-border-bottom {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  border-bottom: 5px solid $youtube-green;
  &::after {
    content: "";
    border-bottom: 1px solid $light;
    position: absolute;
    bottom: -6px;
    left: 0px;
    display: inline-block;
    width: 100%;
  }
}
.thick-border-bottom--purple {
  border-bottom: 5px solid $youtube-purple;
}
a:hover .thick-border-bottom {
  border-bottom: 5px solid $youtube-purple;
}

.monospace {
  font-family: monospace;
}

.link-underline {
  display: inline-block;
  // color: white;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
  padding: 3px 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  &:hover {
    color: $light;
    border-radius: 5px;
    background-color: $youtube-purple;
  }
}
.link-underline::before {
  content: "";
  border-bottom: 2px solid $youtube-purple;
  position: absolute;
  left: 4px;
  bottom: 4px;
  display: inline-block;
  width: calc(100% - 8px);
}
.link-underline:hover::before {
  border-bottom: 2px solid $light;
}

blockquote {
  margin: 0;
}

figure {
  padding: 15px;
  background: $soft-green;
  color: $dark;
  border-radius: 5px;
  blockquote {
    font-size: 1.25rem;
  }
}

.viewport-section {
  min-height: calc(100vh - 66px);
}

.flex-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-fill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > * {
    flex-grow: 1;
  }
}

.btn-row {
  .btn {
    margin-bottom: 1rem;
  }
  .btn:not(:last-child) {
    margin-right: 1rem;
  }
}
@include media-breakpoint-down("sm", $grid-breakpoints) {
  .btn-row {
    .btn {
      width: 100%;
      margin-right: none;
    }
  }
}

.btn-outline-primary,
.btn-outline-secondary {
  background: #ffffff;
}

.border-top-green {
  border-top: 5px solid $youtube-green;
}
.border-top-purple {
  border-top: 5px solid $youtube-purple;
  &::before {
    content: "";
    border-bottom: 1px solid $light;
    position: absolute;
    bottom: -6px;
    display: inline-block;
    width: 100%;
  }
}

.border-bottom-light {
  border-bottom: 1px solid $light;
}

.bg-purple {
  .link-underline::before {
    border-bottom: 2px solid $youtube-green;
  }
  .link-underline:hover {
    background-color: $youtube-green;
    &::before {
      border-bottom: 2px solid $light;
    }
  }
  a:hover {
    color: $kelly-green;
  }
  a:hover.nav-link,
  a:hover.btn-primary,
  a:hover.btn-outline-primary {
    color: $light;
  } 
}
.bg-green {
  figure {
    background: $youtube-light-purple;
    color: $dark;
  }
}

$radial-black: #2b2b2b;
.radial-purple {
  background: radial-gradient(
      circle at 95% 5%,
      $radial-black -25%,
      transparent 50%
    ),
    radial-gradient(circle at 5% 95%, $radial-black -25%, $youtube-purple 50%);
  color: $light;
}
.radial-green {
  background: radial-gradient(
      circle at 95% 95%,
      $radial-black -25%,
      transparent 50%
    ),
    radial-gradient(circle at 5% 5%, $radial-black -25%, $youtube-green 50%);
  color: $light;
}
