<div class="">
  <div class="header-outer">
    <div class="header">
      <div class="header-container particle-container">
        <div class="header-links">
          <a class="link-underline" [routerLink]="'/dev/resume'">Résumé</a>
          <!-- <a class="link-underline" href="/about">Blog</a> -->
          <a class="link-underline" [routerLink]="'/person'">About me</a>
        </div>
        <div class="sr-only">
          class="sr-only"
          <h1>Roqb.me</h1>
          <p class="lead">this is me. on the the internet. hi.</p>
        </div>
        <button
          *ngIf="false"
          class="social-links"
          (click)="showSocialLinks = true"
          (mouseenter)="showSocialLinks = true"
          (mouseleave)="showSocialLinks = false"
          [ngClass]="{ 'social-links-expanded': showSocialLinks }"
        >
          <span class="social-hover" *ngIf="!showSocialLinks">Social</span>
          <span *ngIf="showSocialLinks">
            <a
              *ngFor="let socialLink of socialLinks"
              title="{{ socialLink.alt }}"
              href="{{ socialLink.destPath }}"
              target="_blank"
            >
              <img [alt]="socialLink.alt" src="{{ socialLink.imgPath }}" />
            </a>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="main-container">
    <ng-container *ngTemplateOutlet="imageLinks2"></ng-container>
  </div>
</div>

<ng-template #justLinks>
  <div class="just-links">
    <!-- [ngStyle]="{'background-image': 'url(' + card.img + ')'}" -->
    <a [routerLink]="card.href" *ngFor="let card of cards">
      <div class="just-links-container">
        <div class="just-links-description">
          <div class="just-links-description-inner-border">
            <div class="just-links-description-inner">
              <div class="just-links-heading-wrapper">
                <h3 class="just-links-heading thick-border-bottom">
                  {{ card.title }}
                </h3>
              </div>
              <p class="just-links-extra">{{ card.description }}</p>
            </div>
            <img *ngIf="card.img" [src]="card.img" />
          </div>
        </div>
      </div>
    </a>
  </div>
</ng-template>

<ng-template #imageLinks>
  <div class="particles">
    <div class="particle" *ngFor="let card of cards">
      <a [routerLink]="card.href">
        <div class="particle-container">
          <div class="particle-inner">
            <div class="particle-inner-a">
              <div class="card-image-border">
                <div class="card-image {{ card.class }}"></div>
              </div>
            </div>
            <div class="particle-inner-b">
              <div class="card-description">
                <div class="card-description-inner-border">
                  <div class="card-description-inner">
                    <h3 class="card-description-heading">{{ card.title }}</h3>
                    <p class="card-description-extra">{{ card.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="card-row row d-none">
    <div class="col-md-6 col-xl-4 card-col" *ngFor="let card of cards">
      <a [routerLink]="card.href"
        ><div class="card bg-dark">
          <div class="card-image {{ card.class }}"></div>
          <div class="card-body">
            <h2>{{ card.title }}</h2>
            <!-- <p>{{ card.description }}</p> -->
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="preload-cards"></div>
</ng-template>

<ng-template #imageLinks2>
  <div class="particles particles-2">
    <div class="particle" *ngFor="let card of cards">
      <a [routerLink]="card.href">
        <div class="particle-container">
          <div class="particle-inner">
            <div class="particle-inner-img">
              <div class="card-image-border">
                <div class="card-image">
                  <img *ngIf="card.img" [src]="card.img" />
                </div>
              </div>
            </div>
            <div class="particle-inner-txt">
              <div class="card-description">
                <div class="card-description-inner-border">
                  <div class="card-description-inner">
                    <div class="card-heading-wrapper">
                      <h3 class="card-description-heading">{{ card.title }}</h3>
                    </div>
                    <div class="card-description-extra">
                      {{ card.description }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="card-row row d-none">
    <div class="col-md-6 col-xl-4 card-col" *ngFor="let card of cards">
      <a [routerLink]="card.href"
        ><div class="card bg-dark">
          <div class="card-image {{ card.class }}"></div>
          <div class="card-body">
            <h2>{{ card.title }}</h2>
            <!-- <p>{{ card.description }}</p> -->
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="preload-cards"></div>
</ng-template>
