@import "~src/assets/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

$card-image-height: 335px;

.main-container {
  // padding-bottom: 25px;
}

.card-row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-body {
  text-align: center;
  /* padding-top: 50px; */
}

.card {
  /* margin-bottom: 2rem; */
  height: 450px;
  border: none;
}

.card-row > .card-col {
  margin-bottom: 2rem;
}

.card-body .inner-body {
  position: absolute;
  bottom: 0;
}

.card-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    height: 80%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

a:hover .bg-dark.card {
  background-color: #1c0635 !important;
}

.header-outer {
  // border-bottom: 6px solid $youtube-purple;
}
.header {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 25% bottom;
  background-color: $youtube-green;
  border-bottom: 1px solid $light;
  height: 33vh;
  min-height: 140px;
  background-image: url(/assets/images/roqbme-notagline.png);
}
@include media-breakpoint-up(sm) {
  .header {
    background-image: url(/assets/images/roqbme-animate3.gif);
  }
}
.header-container {
  position: relative;
}
.header .img-wrapper {
  text-align: center;
}
.header .main-img {
  max-width: 630px;
  max-height: 240px;
  min-height: 120px;
  width: 100%;
}
@include media-breakpoint-up(xl) {
  .header img {
    max-width: 810px;
    max-height: 300px;
    height: 300px;
    width: 100%;
  }
}
.header-links {
  padding-top: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: right;
  a {
    color: $light;
  }
}

.particle a {
  width: 100%;
  background: $youtube-purple;
  // background: $gradient-purple-center;
}
.particles .card-description {
  width: 100%;
  height: 100%;
  padding: 25px;
}
.particles .card-description-inner {
  height: 100%;
  color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.particles .card-description-inner-border {
  height: 100%;
  width: 100%;
}

.particle-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.particle-inner {
  display: flex;
  flex-direction: row;
  height: 100%;
  .particle-inner-img {
    order: 2;
    width: 45%;
  }
  .particle-inner-txt {
    order: 1;
    width: 55%;
    .card-description-inner {
      align-items: flex-end;
      text-align: right;
    }
  }
}
//Alternate sides styles - disabled
.particles-2 .particle:nth-child(even) {
  .particle-inner {
    .particle-inner-img {
      order: 1;
    }
    .particle-inner-txt {
      order: 2;
      .card-description-inner {
        align-items: flex-start;
        text-align: left;
      }
    }
  }
}
.card-description-heading {
  position: relative;
  font-size: 2rem;
  padding-bottom: 5px;
  border-bottom: 5px solid $youtube-green;
  // @include gradient-border-bottom();
  &::before {
    content: "";
    border-bottom: 1px solid $light;
    position: absolute;
    bottom: 0px;
    display: inline-block;
    width: 100%;
  }
}
.card-description-extra {
  // display: none;
  // border-bottom: 3px solid $youtube-green;
  // border-top: 1px solid $light;
  padding: 0 0.5rem 0.25rem;
  border-radius: 0.5rem;
}
.card-heading-wrapper {
  padding: 0.5rem 0.5rem 0.25rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}
.particle a:hover {
  .card-description-inner {
  }
  .card-description-inner-border {
    height: 100%;
  }
  .card-description-extra {
    display: inline-block;
  }
  .card-description-heading {
    font-size: 2rem;
    border-bottom: 5px solid $youtube-purple;
    // @include gradient-border-bottom('purple');
  }
  .card-description-extra {
    // background-color: $youtube-green;
    // border-bottom: 3px solid $youtube-green;
  }
  .card-heading-wrapper {
    background-color: $youtube-green;
  }
}
.particles {
  height: 100vh;
}
.particles .card-image {
  // height: $card-image-height;
  height: 100%;
  width: 100%;
  // border: 1px solid $light;
}
.particles .card-image-border {
  // border: 6px solid $youtube-green;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
@include media-breakpoint-down(lg) {
  .card-image {
    img {
      height: 80%;
    }
  }
}
@include media-breakpoint-down(md) {
  .card-image {
    img {
      height: 66%;
    }
  }
}
@include media-breakpoint-down(sm) {
  .particle-inner {
    flex-direction: column;
    .particle-inner-img {
      order: 1;
      width: 100%;
      height: 45%;
    }
    .particle-inner-txt {
      order: 2;
      width: 100%;
      height: 55%;
      .card-description-inner {
        align-items: center;
        text-align: center;
      }
    }
    .card-image {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      justify-content: flex-end;
    }
  }
  .particles-2 .particle:nth-child(even) {
    .particle-inner {
      .particle-inner-txt {
        .card-description-inner {
          align-items: center;
          text-align: center;
        }
      }
    }
  }
  .particle a {
    border: none;
  }
  .card-description-extra {
    display: inline-block;
  }
}

.particle {
  margin-top: 0px;
  display: flex;
  height: 33%;
  min-height: 193px;
}
.particle:first-child {
  height: 34%;
}

.particle:nth-child(even) {
  .card-image-border {
    order: 2;
  }
  .card-description {
    order: 1;
    // padding-right: 0px;
  }
  .card-description-inner-border {
    float: left;
  }
}
.particle:nth-child(odd) {
  .card-image-border {
    order: 1;
  }
  .card-description {
    order: 2;
    // padding-left: 0px;
  }
  .card-description-inner-border {
    float: right;
  }
}
.particles .card-description {
  // width: calc(100% - #{$image-width});
  height: 100%;
  // float: left;
  padding: 0px;
}
.particles .card-description-inner {
  padding: 25px;
  height: 100%;
}

.just-links {
  background: $youtube-purple;
  background: $gradient-purple-center;
  // background: #333;
  height: 100vh;
  a {
    float: left;
    color: $light;
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: auto 75%;
    background-repeat: no-repeat;
    position: relative;
  }
}

@include media-breakpoint-up(lg) {
  .just-links {
    // background: $gradient-purple-center;
  }
}
.just-links-description-inner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@include media-breakpoint-up(md) {
  .just-links a {
    // width: 50%;
  }
  .just-links-description-inner {
    width: 66%;
  }
  .just-links a:nth-child(even) img {
    order: 0;
  }
  .just-links a:nth-child(odd) img {
    order: 1;
  }
}
.just-links a:nth-child(even) {
  background-position: 15% 10%;
}
.just-links a:nth-child(odd) {
  background-position: 85% 10%;
}
@include media-breakpoint-down(md) {
  .just-links a {
    background-size: auto 66%;
  }
  .just-links a:nth-child(even) {
    background-position: 5% 10%;
    .just-links-description-inner {
      margin-right: 1rem;
    }
  }
  .just-links a:nth-child(odd) {
    background-position: 95% 10%;
    .just-links-description-inner {
      margin-left: 1rem;
    }
  }
}
@include media-breakpoint-down(xs) {
  .just-links a {
    background-size: auto 45%;
  }
  .just-links a:nth-child(even) {
    background-position: 5% 0%;
  }
  .just-links a:nth-child(odd) {
    background-position: 95% 0%;
  }
}
.just-links-description-inner-border {
  display: flex;
  img {
    height: 100px;
  }
}
@include media-breakpoint-down(sm) {
  .just-links-description-inner-border {
    flex-direction: column;
    img {
      order: 0;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      height: 10vh;
    }
    .just-links-description-inner {
      order: 1;
    }
  }
}
.just-links a:nth-child(even) .just-links-description-inner-border {
  text-align: right;
  .just-links-heading-wrapper {
    margin-right: -0.5rem;
  }
  img {
    order: 1;
  }
  .just-links-description-inner {
    order: 0;
  }
}
.just-links a:nth-child(odd) .just-links-description-inner-border {
  text-align: left;
  .just-links-heading-wrapper {
    margin-left: -0.5rem;
  }
  img {
    order: 0;
  }
  .just-links-description-inner {
    order: 1;
  }
}
@include media-breakpoint-down(sm) {
  .just-links a:nth-child(even) .just-links-description-inner-border {
    img {
      top: 5%;
      left: 5%;
    }
  }
  .just-links a:nth-child(odd) .just-links-description-inner-border {
    img {
      top: 5%;
      right: 5%;
    }
  }
}
// @include media-breakpoint-up(xl) {
//   .just-links-description-inner {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     width: 66%;
//     margin-left: auto;
//     margin-right: auto;
//     .just-links-extra {
//       margin-left: 3rem;
//       align-self: end;
//     }
//   }
// }

.just-links a {
  // display: block;
  // background-color: $youtube-purple;

  .just-links-extra {
    // visibility: hidden;
  }
  .just-links-heading-wrapper {
    padding: 0 0.5rem;
    display: inline-block;
  }
  &:hover {
    .just-links-heading-wrapper {
      background-color: $youtube-green;
      border-radius: 5px;
    }
    .just-links-extra {
      // visibility: visible;
      // text-decoration: underline;
    }
  }
}
.just-links-heading {
  font-size: 2rem;
}
@include media-breakpoint-down(sm) {
  .just-links-heading {
    font-size: 1.5rem;
  }
}
.just-links-container {
  // padding: 2rem 1rem;
  text-align: center;
}

.just-links .card-description {
  text-align: center;
}

.dev-card {
  background-size: contain;
  background-image: url("/assets/images/developer/laptop2.gif");
}
.gamer-card {
  // background-size: 150%;
  background-size: cover;
  background-position: top right;
  background-image: url("/assets/images/gamer1a.jpg");
}
a:hover .gamer-card {
  background-image: url("/assets/images/gamer1c.png");
}
.art-card {
  background-size: cover;
  background-image: url("/assets/images/artist2a.jpg");
}
a:hover .art-card {
  background-image: url("/assets/images/artist2b.png");
}
.human-card {
  background-size: cover;
  background-image: url("/assets/images/human1d.jpg");
}
a:hover .human-card {
  background-image: url("/assets/images/human1c.png");
}

.preload-cards::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1; // hide images
  content: url("/assets/images/developer2c.png")
    url("/assets/images/gamer1c.png") url("/assets/images/artist2b.png")
    url(/assets/images/human1c.png); // load images
}

.social-links {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: #333333b3;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 7px;
  border: 1px solid $dark;
  a {
    display: inline-block;
    color: $light;
    margin: 0.5rem;
    line-height: 0px;
  }
  img {
    width: auto;
    height: 1.25rem;
  }
}
.social-links-expanded {
  background: #ffffffcf;
}

.social-hover {
  color: $light;
  display: inline-block;
  height: 1.25rem;
  margin: 0.5rem;
  line-height: 1.25rem;
  font-weight: bold;
}

@include media-breakpoint-down(sm) {
  .social-links {
    left: 0px;
    right: inherit;
    img {
      display: inline-block;
      width: auto;
      height: 1rem;
    }
  }
  .social-hover {
    height: 1rem;
  }
}
