<h1>I am a Gamer</h1>

<p>
  Ever since I saw first learned about the concept of gaming, I remember wanting
  a game console. My first was a Game Boy pocket on which I played hours of the
  original Pokemon franchise. For many years, I could only play a home console
  when I would visit a friend's house. Not until years later did I get my first
  home console, the Nintendo Game Cube. From there I acquired a Playstation 2,
  dipping into online gaming for the first time with Ratchet and Clank: Up Your
  Arsenal. From there I moved on to an Xbox 360, playing Halo 3 for many hours
  throughout High School and into college.
</p>

<p>
  In recent years, gaming has taken a backseat to some of my other interests at
  times, but I still am and always will be a massive fan of games in general.
  I'm going to use this page to list off some of the things I've been playing
  more recently and particular memories from the past related to my relationship
  with gaming.
</p>

<h2>Recent Games</h2>
<p>Below are some of the games I've been playing recently.</p>
<div *ngFor="let game of currentGames">
  <h3>{{ game.name }}</h3>
  <p>{{game.note}}</p>
</div>

<h2>Magic the Gathering</h2>

<p>MTG is a game, but it is also so much more than that.  MTG is a lifestyle.  Once you start playing magic, as we often refer to it as, you become a magic player.  For many of us, the saying is often "once a magic player, always a magic player".</p>

<h3>Draft</h3>
<p>
  Drafting in MTG is when you arrive at an event and are given packs to open and build your deck on the fly.  This adds a lot of variance to the types of decks you can build while also keeping them lower power level than those you would inevitably build for a constructed event where you are able to maximize all the best cards. This balances the playing field from the start by flattening the power level of many of the decks.  While some may end up with a few more powerful cards than others, the overall build of the decks will largely be the common cards available to everyone.
</p>
<p>Drafting is particularly fun in that it forces you to make many on the fly decisions that add up over time to influence your results.  If you are able to continually make the best decisions as you construct your deck, you will end up with a large advantage at the end.  The same is true when you are actually playing magic as well.  It simply adds on to that meta-game in a way that feels very rewarding as you begin to master and adapt to what is and isn't working in the format.</p>

<h3>Custom Cards and Alters</h3>
<p>Magic cards are expensive so I have often created proxies or fake cards for use in playing more casual formats where the real and expensive alternatives are not needed.  While you can of course simply print a picture of the real card, it is often fun to create your own version of the art.  I have done many of these over the years and have links to them below.</p>
<p>
  <a class="btn btn-primary" href="https://imgur.com/a/fdj4O" target="_blank">Go to Album</a>
</p>

<h2>Table Top Games</h2>

<h3>Settlers of Catan</h3>
<p>I was introduced to settlers just after graduating college.  As is the case for many of us, it was my gateway into the realm of Euro-board games.  For those unaware these are often games where the goal is to reach a set number of victory points to win.</p>

<h3>Dominion</h3>
<p>If you like drafting in Magic the Gathering, I highly recommend checking out Dominion.  Dominion invented a whole class of card game called a deck building game.  Within the game you start with a deck of low powered cards, then gradually acquire new and better cards for your deck.  The goal at the end of the game is to have the most cards which are worth victory points within your deck.  The victory point cards do nothing when drawn however, so they can be a bit of a downside to having them in your deck.</p>

<h3>Quantum</h3>
<p>This is a relatively simple, yet deep board game with a lot of replayability.  The concept is built around the idea of settling on planets.  Within the game you use dice to represent your ships.  Whatever number is shown on your die indicates how far your ship can go, the different abilities it has, and the power it has in battle.  Higher numbers can move faster, but they are worse in battle.</p>

<h2>Gaming Memories</h2>

<p>I'm planning to add some of my gaming memories and experiences here.  I'd like to recall and think about what about those experiences was significant and how I feel like it shaped the reasons I still care about games to this day.</p>

<h3>Ratchet and Clank: Up your Arsenal</h3>
<p>This was the first game I ever played online multiplayer in.  It was quite different from most online experiences after since it actually featured lobbies and configurable game modes.  You could load up 4 friends and play against a bunch of random n00bs and totally destroy them.</p>
<p>I would often create different accounts (which you could easily do for free) and join as what would be now called a Smurf account, to try to take on these squads of experienced players and help to even the sides.</p>
<p>My personal favorite mode to host was capture the flag on a small map with shotgun, grenade launcher, and machine gun as the only weapons.  These weapons forced the combat in close and created a chaos of explosions and close quarter shotgun battles.  In many ways the weapons created a bit of a rock, paper, scissors like effect in that those using the shotgun could often sneak up close on those with the grenade launcher, but get caught by those with the machine gun.</p>

<h3>Halo 3</h3>
<p>I never had an original Xbox, but I spent quite a bit of time playing Halo 3 on Xbox 360 in High School...</p>
<p>My freshman year of college their was a tournament between teams of 4 and I was able to put my skills to the test...</p>


<h3>Halo ODST</h3>
<p>With a more grounded storyline focused on a more typical soldier in the UNSC army, this game actually ended up being one of my favorite standalone stories in the Halo series...</p>
<p>The horde-like multiplayer mode (nods to Gears of War franchise) where waves of enemies would deploy on various maps and locations from within the main game was one of my favorite things to do with my freshman roommate...</p>

<h3>Halo Reach</h3>
<p>A prequel to the original Halo game, this storyline featured numerous Spartan characters and depicted the early days of the Covenant Invasion of earth.  The cast of characters and their downfall really pulled me into the story in a way reminescent of how Halo ODST had played with this squad dynamic previously.</p>
<p>
  This game came out while I was in college and I spent the next couple years playing rounds between classes and into the evenings...  
</p>

<h2>Gaming Magazines</h2>

<p>When I was growing up, game magazines were a huge part of how I related to the idea of Gaming.  I wasn't able to afford every game so understanding which games I would most enjoy and living vicariously through the experience of the reviewers in these magazines became a huge part of how I formed my understanding of gaming.</p>

<h3>Electronic Gaming Monthly</h3>
<p>My grandpa gave me my first copy of this magazine. I don't remember exactly how it reached his hands, but when I received it I believe the only other gaming magazine I had read was Nintendo Power.  This magazine was almost a rock-n-roll concert in comparison.  Nintendo Power was always so tame.  </p>